[Unit]
Description=Emacs text editor
Documentation=info:emacs man:emacs(1) https://gnu.org/software/emacs/

[Service]
Type=forking
ExecStart=/usr/local/bin/emacs --daemon
SuccessExitStatus=15
Restart=on-failure
TimeoutStartSec=120s

[Install]
WantedBy=default.target
