[general]
ui = ttyui
accounts = Privat
pythonfile = ~/.offlineimap.py

[Account Privat]
localrepository = Privat-Local
remoterepository = Privat-Remote

[Repository Privat-Local]
type=Maildir
localfolders = ~/Mail
createfolders = true

[Repository Privat-Remote]
type = IMAP
remoteuser = marcel.patzwahl@posteo.de
remotepasseval = get_pass('posteo.de')
remotehost = posteo.de
maxconnections = 3
sslcacertfile = {{ cert_path }}
createfolders = True
