- name: create emacs.d config directory
  file:
    path: ~/.emacs.d
    state: directory

- name: create eshell config directory
  file:
    path: ~/.emacs.d/eshell
    state: directory

- name: symlink files
  file:
    src: "{{ ansible_env.PWD }}/roles/emacs/files/{{ item }}"
    path: "~/.emacs.d/{{ item }}"
    state: link
    follow: false
    force: yes
  loop:
    - init.el
    - modeline-dark.el
    - modeline-light.el
    - snippets
    - eshell/alias

- name: create systemd user directory
  file:
    path: ~/.config/systemd/user
    state: directory

- name: copy emacs service
  copy:
    src: "{{ ansible_env.PWD }}/roles/emacs/files/emacs.service"
    dest: ~/.config/systemd/user/emacs.service

- name: enable emacs daemon
  systemd:
    name: emacs.service
    state: started
    enabled: yes
    scope: user
    daemon_reload: yes
