- name: symlink offlineimaprc
  file:
    src: "{{ ansible_env.PWD }}/roles/mail/files/offlineimaprc"
    path: ~/.offlineimaprc
    state: link
    force: yes

- name: symlink offlineimap.py
  file:
    src: "{{ ansible_env.PWD }}/roles/mail/files/offlineimap.py"
    path: ~/.offlineimap.py
    state: link
    force: yes

- name: symlink notmuch-config
  file:
    src: "{{ ansible_env.PWD }}/roles/mail/files/notmuch-config"
    path: ~/.notmuch-config
    state: link
    force: yes

- name: create systemd user directory
  file:
    path: ~/.config/systemd/user
    state: directory

- name: create template
  template:
    src: offlineimap.s2
    dest: "~/.config/systemd/user/offlineimap.service"

- name: offlineimap copy systemd timer and service
  copy:
    src: offlineimap.timer
    dest: "~/.config/systemd/user/offlineimap.timer"

- name: enable offlineimap timer
  systemd:
    name: offlineimap.timer
    state: started
    enabled: yes
    scope: user
