- name: Include version vars
  include_vars: "{{ playbook_dir }}/versions.yaml"

- name: make sure packages are installed
  package:
    name:
      - fzf
      - pass
      - curl
      - htop
      - ripgrep
    state: present
  become: yes


- name: download and extract Iosevka Font
  become: yes
  ansible.builtin.unarchive:
    src: https://github.com/be5invis/Iosevka/releases/download/v{{ iosevka_font }}/SuperTTC-Iosevka-{{ iosevka_font }}.zip
    dest: /usr/local/share/fonts/
    remote_src: yes

- name: download and extract Iosevka Aile Font
  become: yes
  ansible.builtin.unarchive:
    src: https://github.com/be5invis/Iosevka/releases/download/v{{ iosevka_font }}/SuperTTC-IosevkaAile-{{ iosevka_font }}.zip
    dest: /usr/local/share/fonts/
    remote_src: yes

- name: Refresh Font Cache
  become: yes
  shell: fc-cache
