- name: Include version vars
  include_vars: "{{ playbook_dir }}/versions.yaml"

- name: make sure packages are installed
  package:
    name:
      - fzf
      - pass
      - curl
      - htop
      - ripgrep
    state: present
  become: yes

- name: Create fonts directory
  file:
    path: /usr/local/share/fonts
    state: directory
    mode: '0755'
  become: yes

- name: Check if Iosevka fonts are already installed
  stat:
    path: /usr/local/share/fonts/Iosevka.ttc
  register: iosevka_installed

- name: Download Iosevka Font
  get_url:
    url: "https://github.com/be5invis/Iosevka/releases/download/v{{ iosevka_font }}/SuperTTC-Iosevka-{{ iosevka_font }}.zip"
    dest: "/tmp/iosevka-{{ iosevka_font }}.zip"
    timeout: 300
  when: not iosevka_installed.stat.exists

- name: Extract Iosevka Font
  ansible.builtin.unarchive:
    src: "/tmp/iosevka-{{ iosevka_font }}.zip"
    dest: /usr/local/share/fonts/
    remote_src: yes
  become: yes
  when: not iosevka_installed.stat.exists

- name: Check if Iosevka Aile is already installed
  stat:
    path: /usr/local/share/fonts/IosevkaAile.ttc
  register: iosevka_aile_installed

- name: Download Iosevka Aile Font
  get_url:
    url: "https://github.com/be5invis/Iosevka/releases/download/v{{ iosevka_font }}/SuperTTC-IosevkaAile-{{ iosevka_font }}.zip"
    dest: "/tmp/iosevka-aile-{{ iosevka_font }}.zip"
    timeout: 300
  when: not iosevka_aile_installed.stat.exists

- name: Extract Iosevka Aile Font
  ansible.builtin.unarchive:
    src: "/tmp/iosevka-aile-{{ iosevka_font }}.zip"
    dest: /usr/local/share/fonts/
    remote_src: yes
  become: yes
  when: not iosevka_aile_installed.stat.exists

- name: Check if Iosevka Nerd Font is already installed
  stat:
    path: /usr/local/share/fonts/IosevkaNerdFont-Regular.ttf
  register: iosevka_nerd_installed

- name: Download Iosevka Nerd Font
  get_url:
    url: "https://github.com/ryanoasis/nerd-fonts/releases/download/v{{ nerd_fonts }}/Iosevka.zip"
    dest: "/tmp/iosevka-nerd-{{ nerd_fonts }}.zip"
    timeout: 300
  when: not iosevka_nerd_installed.stat.exists

- name: Extract Iosevka Nerd Font
  ansible.builtin.unarchive:
    src: "/tmp/iosevka-nerd-{{ nerd_fonts }}.zip"
    dest: /usr/local/share/fonts/
    remote_src: yes
  become: yes
  when: not iosevka_nerd_installed.stat.exists

- name: Refresh Font Cache
  become: yes
  shell: fc-cache
  when: not iosevka_installed.stat.exists or not iosevka_nerd_installed.stat.exists
