snippet f
func ${1:name}(${2:params}) ${3:} {
	${4:}
}
endsnippet

snippet fs
func (${1:type}) ${2:name}(${3:params}) ${4:} {
	${5:}
}
endsnippet

snippet s
type ${1:name} struct {
	${2:}
}
endsnippet
