/* Colors (acid) */
@define-color foreground	#e0e0e0;
@define-color background	rgba(22, 30, 38, 0.85);
@define-color highlight	#1e262e;
@define-color black	#161e26;
@define-color gray	#303840;
@define-color lightgray	#606870;
@define-color red	#ff7070;
@define-color orange	#ffa060;
@define-color yellow	#ffd080;
@define-color green	#b0ff80;
@define-color cyan	#80d0ff;
@define-color purple	#b090ff;
@define-color magenta	#f0b0ff;
@define-color accent	#8080c0;
@define-color white	#e0e0e0;

@define-color workspace_background	@background;
@define-color workspace_button	@foreground;
@define-color workspace_active	@black;
@define-color workspace_active_background	@cyan;
@define-color workspace_urgent	@white;
@define-color workspace_urgent_background	@red;
@define-color workspace_hover	@black;
@define-color workspace_hover_background	@magenta;
@define-color critical	@red;
@define-color warning	@yellow;


@keyframes blink {
    to {
        background-color: @white;
        color: @black;
    }
}

* {
    border: none;
    border-radius: 0;
    font-family: "Iosevka Nerd Font";
    font-weight: bold;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: transparent;
	  color: @foreground;
}

#workspaces {
    background: @workspace_background;
    opacity: 1;
    transition: none;
    padding: 5px 5px;
    margin: 2px 0px 2px 0px;
    border-radius: 5px;
}

#workspaces button, #workspaces button.persistent {
    background: transparent;
    color: @workspace_button;
    transition: none;
}

#workspaces button.active {
    background: @workspace_active_background;
    color: @workspace_active;
    border-radius: 5px;
/*
    border-top: 2px solid @pink;
    border-bottom: 2px solid @pink;
*/
}

#workspaces button.urgent {
    background: @workspace_urgent_background;
    color: @workspace_urgent;
    border-radius: 5px;
}

#workspaces button:hover {
    background: @workspace_hover_background;
    color: @workspace_hover;
    border-radius: 5px;
}

#taskbar {
    background: @background;
    border-radius: 5px;
    margin: 5px 10px 5px 50px;
}

tooltip {
    background: @background;
    opacity: 0.95;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: @accent;
}

tooltip label{
    color: @foreground;
}

#cpu,
#disk,
#custom-updates,
#memory,
#clock,
#battery,
#pulseaudio,
#network,
#tray,
#temperature,
#backlight,
#custom-power {
    background: @background;
    opacity: 1;
    padding: 0px 5px;
    margin: 2px 0px 2px 0px;
}

#disk.critical,
#temperature.critical  {
    background-color: @critical;
}

#disk.warning,
#temperature.warning {
    background-color: @warning;
}

#battery {
    color: @green;
}

#battery.discharging {
    color: @foreground;
}

#battery.warning:not(.charging) {
    background: @warning;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.critical:not(.charging) {
    background-color: @critical;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#clock {
    color: @cyan;
    border-radius: 5px 5px 5px 5px;
}

#cpu {
    color: @orange;
}

#memory {
    color: @purple;
}

#disk {
    color: @magenta;
}

#temperature {
    color: @yellow;
}

#network {
    color: @green;
}

#pulseaudio {
    color: @cyan;
}

#pulseaudio.microphone {
    color: @accent;
}

#backlight {
    color: @yellow;
}

#custom-updates {
    color: @magenta;
    border-radius: 5px 0px 0px 5px;
}

#custom-power {
    color: @red;
    border-radius: 0px 5px 5px 0px;
}

#language {
    color: @accent;
}

#tray {
    background: @background;
    border-radius: 5px;
    margin: 5px 50px 5px 10px;
}
