- name: clone dmenu
  git:
    repo: https://github.com/snowiow/dmenu
    dest: ~/workspace/dmenu
    version: snow
    accept_hostkey: yes

- name: Install necessary libraries for dmenu
  package:
    name:
      - libx11-dev
      - libxinerama-dev
      - libxft-dev
      - fonts-font-awesome
    state: present
  become: yes

- name: make and make install dmenu
  make:
    chdir: "/home/{{ ansible_user_id }}/workspace/dmenu"
    target: install
  become: yes

- name: symlink run-recent
  file:
    src: "{{ ansible_env.PWD }}/roles/dmenu/files/run-recent"
    path: ~/.local/bin/run-recent
    state: link
    follow: false
    force: yes
